<%= render 'shared/welcomebanner' %>

<%= render 'shared/badge_earned', badge: @user_badge %>
<%= render 'shared/badge_next', badge: @user_badge %>


<div class="container">
  <h2 class="profile-title text-center">You have been on <strong class="red"><%= @datenights.count %></strong>  dates! </h2>
  <% @datenights.each do |datenight| %>

<!-- Adding links to recommendation page -->
  <a href="../recommendations/<%=datenight.recommendation.id%>">

  <div class="index-card-no-shadow">
    <% if datenight.recommendation.photos.attached? %>

    <!-- image carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% datenight.recommendation.photos.each_with_index do |photo, n| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag datenight.recommendation.photos.first.key, class: "d-block card-picture-no-shadow", crop: :fill, position: :center  %>
        </div>
        <% datenight.recommendation.photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key,  class: "d-block  card-picture-no-shadow", crop: :fill, position: :center  %>
        </div>
        <% end %>
      </div>

      <div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>


    <% else %>
      <%= image_tag "https://source.unsplash.com/random/1100x500", class: "card-picture-no-shadow", crop: :fill, position: :center %>
    <% end %>

    <div class="card-text-no-shadow">
      <div class="d-flex justify-content-between card-detail">
        <p><%= datenight.recommendation.location.split(",")[1] %></p>
        <p><i class="fas fa-star rating"></i><%= datenight.recommendation.rating %></p>
      </div>
      <h5 class="text-break"><strong><%= datenight.recommendation.name %></strong></h5>
    </div>
  </div>

  </a>
  <!-- Closing link to recommendation page -->

  <div class="review-profile">
    <%= render 'shared/add_review',
      datenight: datenight,
      id: datenight.id,
      reviews: datenight.reviews %>
  </div>

  <% end %>
</div>















