<%= render 'shared/welcomebanner' %>
<%= render 'shared/badge_earned', badge: @user_badge %>


<div class="container">
  <h2 class="welcome-title">Welcome, <%= current_user.name %> !</h2>
  <!-- Adding for the case where there is only 1 day -->
    <% if @date_diff == 1%>
      <h2 class="profile-title text-center">Your next date night is in <strong class="red"><%= @date_diff %></strong>  day! </h2>
    <% else %>
      <h2 class="profile-title text-center">Your next date night is in <strong class="red"><%= @date_diff %></strong>  days! </h2>
    <% end %>
   <!-- Adding for the case where there is only 1 day -->

  <!-- Booking confirmation box -->
    <a href="../recommendations/<%=@datenight.recommendation.id%>">
      <%= render 'shared/booking_confirmation' %>
    </a>
  <!-- Booking confirmation box -->

  <div class="d-flex justify-content-even">
    <!-- Share -->
      <%= link_to "Share", '#', class: "btn secondary", data: { toggle: "modal", target: "#staticBackdrop" } %>
    <!-- Share -->

    <!-- Uber -->
      <a class="btn secondary" href="https://m.uber.com/ul/?client_id=<CLIENT_ID>&action=setPickup&pickup[latitude]=<%= current_user.latitude %>&pickup[longitude]=<%= current_user.longitude %>[formatted_address]=<%= current_user.location %>&dropoff[latitude]=<%= @datenight.recommendation.latitude %>&dropoff[longitude]=<%= @datenight.recommendation.longitude %>&dropoff[formatted_address]=<%= @datenight.recommendation.location %>">Get an Uber</a>
    <!-- Uber -->
  </div>

  <!-- Book another -->
    <%= link_to "Book another date night", edit_date_info_path, class: "btn secondary" %>
  <!-- Book another -->

  <!-- Add a calendar -->
    <%= render 'shared/add_calendar_button' %>
  <!-- Add a calendar -->

  <div class="modal-datenight">
    <%= render 'shared/share_modal' %>
  </div>

</div>
