<%= render 'shared/category_tracker' %>

<div class="container">
  <div id="recommendation-index">
    <% @top_recommendations.each do |recommendation| %>
    <div class="index-card">
      <%= link_to recommendation_path(recommendation) do %>
      <% if recommendation.photos.attached? %>
      <!-- image carousel -->
      <%= render 'shared/carousel', recommendation: recommendation %>
      <!-- image carousel -->
      <% else %>
      <%= image_tag "https://source.unsplash.com/random/1100x500", class: "card-picture", crop: :fill, position: :center %>
      <% end %>

      <!-- text -->
      <div class="card-text">
        <div class="d-flex justify-content-between card-detail">
          <p><%= recommendation.location.split(",")[1] %> (<%= recommendation.distance_from([current_user.latitude,current_user.longitude]).round(2) %> mi)</p>
          <p class="card-rating-no-shadow"><i class="fas fa-star rating card-rating-no-shadow"></i><%= recommendation.rating %></p>
        </div>
        <h5 class="text-break"><strong><%= recommendation.name %></strong></h5>
      </div>
      <% end %>
    </div>
    <% end %>
    <!-- text -->
  </div>

  <!-- map -->
  <div
  id="map"
  style="width: 100%;
  height: 1000px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <!-- map -->

  <!-- button -->
  <div class="row d-flex justify-content-center">
    <%= link_to "Get other choices", recommendation_filtered_index_path(categories: @categories, next: true), class: "btn main-btn" %>
    <%#= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
  </div>
  <!-- button -->
</div>

<!-- map toggle icon -->
<div id="map-icon-container">
  <%= image_tag "map_icon.png", class: "map-icon", crop: :fill %>
</div>
<!-- map toggle icon -->
