<div class="container">
  <% @top_recommendations.each do |recommendation| %>
    <div class="card">
      <% if recommendation.photos.attached? %>
       <% recommendation.photos.each do |photo| %>
         <%= cl_image_tag photo.key,  crop: :fill, class: "card-picture" %>
        <% end %>
      <% else %>
        <%= image_tag "https://source.unsplash.com/random/1100x500", crop: :fill, class: "card-picture"  %>
      <% end %>

      <%= link_to recommendation_path(recommendation) do %>
        <div class="d-flex justify-content-between card-detail">
          <p><em><%= recommendation.location %></em></p>
          <p><em><i class="fas fa-star rating"></i><%= recommendation.rating %></em></p>
        </div>
        <h2 class="card-detail"><%= "#{recommendation.name}" %></h2>
      <% end %>
    </div>
  <% end %>

  <br>

   <div class="row d-flex justify-content-center">
    <%= link_to "Get other choices", recommendations_path, class: "secondary" %>
  </div>
  <%#= link_to "Add new recommendation", new_category_recommendation_path, class: "btn btn-secondary" %>
</div>

