<div class="container">
  <% @recommendations.each do |recommendation| %>
  <div class="card">
    <% if recommendation.photo.attached? %>
    <%= cl_image_tag recommendation.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <%= image_tag "https://source.unsplash.com/random/400x300", crop: :fill, class: "pb-3" %>
    <% end %>
    <div class="d-flex justify-content-between">
      <p><em><%= recommendation.location %></em></p>
      <p><em><#%= recommendation.rating %></em></p>

    </div>
    <p><%= recommendation.category.name %></p>
    <h1><%= link_to "#{recommendation.name}", recommendation_path(recommendation) %></h1>
  </div>
  <% end %>
</ul>
<%= link_to "Add new recommendation", new_category_recommendation_path %>
