
<div class="container">
  <div class="category-name">
    <h3><%#= @category.name %></h3>

  </div>
  <% @recommendations.each do |recommendation| %>
  <div class="recommendation-card">
    <% if recommendation.photo.attached? %>
    <%= cl_image_tag recommendation.photo.key, crop: :fill, class: "card-picture" %>
    <% else %>
    <%= image_tag "https://source.unsplash.com/random/400x300", crop: :fill, class: "card-picture pb-3" %>
    <% end %>
    <%= link_to recommendation_path(recommendation) do %>
    <div class="d-flex justify-content-between card-detail">
      <p><em><%= recommendation.location %></em></p>
      <p><em><i class="fas fa-star rating"></i><%= recommendation.rating %></em></p>
    </div>
    <h2 class="card-detail"><%= "#{recommendation.name}" %></h2>
    <% end %>
  </div>
  <% end %>
  <div class="row d-flex justify-content-center">
    <%= link_to "Get other choices", category_recommendations_path, class: "secondary" %>
  </div>
</div>


