<%= render 'shared/category_tracker' %>

<div class="container">
  <div class="card index-card">
    <% @top_recommendations.each do |recommendation| %>
    <%= link_to recommendation_path(recommendation) do %>
    <% if recommendation.photos.attached? %>

    <!-- image carousel -->
    <%= render 'shared/carousel', recommendation: recommendation %>
    <!-- image carousel -->

    <% else %>
    <%= image_tag "https://source.unsplash.com/random/1100x500", class: "card-picture", crop: :fill, position: :center %>
    <% end %>

    <!-- text -->
    <div class="card-text">
      <div class="d-flex justify-content-between card-detail">
        <p><em><%= recommendation.location.split(",")[1] %></em> (<%= recommendation.distance_from([current_user.latitude,current_user.longitude]).round(2) %> kms away) </p>
        <p><i class="fas fa-star rating"></i><em><%= recommendation.rating %></em></p>
      </div>
      <h5 class="text-break"><strong><%= recommendation.name %></strong></h5>
    </div>
    <% end %>
  <% end %>
  </div>
  <!-- text -->

  <!-- button -->
  <div class="row d-flex justify-content-center">
    <%= link_to "Get other choices", recommendation_preference_index_path(next: true), class: "btn main-btn" %>
    <%= link_to "Pick another category for your date night!", pick_a_category_path, class: "secondary" %>
  </div>
  <!-- button -->
</div>

