<% if @recommendation.photos.attached? %>
<!-- image carousel -->
<%= render 'shared/carousel', recommendation: @recommendation %>
<!-- image carousel -->
<% else %>
  <%= image_tag "https://source.unsplash.com/random/1100x500", class: "w-100", crop: :fill, position: :center %>
<% end %>

<div class="container mb-5 mt-3">
  <div class="card show-card">
    <h4 class="reco-title"><strong><%= @recommendation.name %></strong></h4>

    <ul class="list-inline d-flex justify-content-left pt-2 pb-3">
      <li class="selected-category btn btn-categories btn-sm"><%= @recommendation.category.name %></li>
      <li class="selected-category btn btn-categories btn-sm">Urban</li>
      <li class="selected-category btn btn-categories btn-sm">Cheap</li>
    </ul>
    <div class="bottom-border">
      <p class="reco-section-title"><strong>ABOUT THIS DATE NIGHT</strong></p>
      <p class="reco-text pb-2"><%= @recommendation.description %></p>
    </div>
    <div class="bottom-border">
      <p class="reco-section-title"><strong>PRICE</strong></p>
      <p class="reco-text pb-2">About <i class="fas fa-dollar-sign"></i><strong><%= @recommendation.price %></strong> per person</p>
    </div>
    <div class="bottom-border">
      <div class="d-flex justify-content-between">
        <p class="reco-section-title"><strong>REVIEWS</strong></p>
        <p class="reco-text pb-2"><i class="fas fa-star rating"></i><%= @recommendation.rating %> (<%= @recommendation.reviewcount %>)</p>
      </div>
      <%= render 'shared/reviews' %>
    </div>
    <div class="bottom-border">
      <p class="reco-section-title"><strong>LOCATION</strong></p>
      <p class="reco-text pb-2"><%= @recommendation.location %> (<%= @recommendation.distance_from([current_user.latitude,current_user.longitude]).round(2) %> mi)</p>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 240px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>";
      class="mb-4";
    ></div>
  </div>
</div>

<div class="container fixed-bottom">
  <div class="card buttons">
    <div class="row d-flex justify-content-center">
      <%= link_to "Get other choices", recommendation_preference_index_path, class: "btn secondary split" %>
      <%= link_to "Book date", new_recommendation_datenight_path(@recommendation), class: "btn main-btn split" %>
      <%#= link_to "Edit", edit_category_recommendation_path(@recommendation.category, @recommendation), class: "btn btn-secondary" %>
      <%#= link_to "Delete", category_recommendation_path(@recommendation.category, @recommendation), method: :delete, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
