<div class="container mb-5">
  <div class="card">
    <% if @recommendation.photos.attached? %>
      <% @recommendation.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class: "w-100", crop: :fill, position: :center  %>
      <% end %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/random/1100x500", class: "w-100", crop: :fill, position: :center %>
    <% end %>
    <br>
    <h4><strong><%= @recommendation.name %></strong></h4>

    <ul class="list-inline d-flex justify-content-center border-bottom pb-2">
      <li class="list-inline-item btn btn-outline-danger btn-sm"><%= @recommendation.category.name %></li>
      <li class="list-inline-item btn btn-outline-danger btn-sm">Urban</li>
      <li class="list-inline-item btn btn-outline-danger btn-sm">Cheap</li>
    </ul>

    <p><strong>ABOUT THIS DATE NIGHT</strong></p>
    <p class="border-bottom pb-2"><%= @recommendation.description %></p>


    <p><strong>PRICE</strong></p>
    <p class="border-bottom pb-2">About <i class="fas fa-dollar-sign"></i><strong><%= @recommendation.price %></strong> per person</p>

    <p><strong>RATING</strong></p>
    <p class="border-bottom pb-2"><i class="fas fa-star rating"></i><%= @recommendation.rating %></p>

    <p><strong>LOCATION</strong></p>
    <p><%= @recommendation.location %> </p>
    <div
      id="map"
      style="width: 100%;
      height: 240px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>";
      class="mb-1";
    ></div>
  </div>
</div>

<div class="container fixed-bottom">
  <div class="card">
    <div class="row d-flex justify-content-center">
      <%= link_to "Back to list", category_recommendations_path(@recommendation.category), class: "btn secondary w-50" %>
      <%= link_to "Book date", new_recommendation_datenight_path(@recommendation), class: "btn main-btn w-50" %>
      <%#= link_to "Edit", edit_category_recommendation_path(@recommendation.category, @recommendation), class: "btn btn-secondary" %>
      <%#= link_to "Delete", category_recommendation_path(@recommendation.category, @recommendation), method: :delete, class: "btn btn-secondary" %>
  </div>
  </div>
</div>
