<div class="container">
  <div class="card">
    <% if @recommendation.photos.attached? %>
      <% @recommendation.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class: "w-100", crop: :fill, position: :center  %>
      <% end %>
    <% else %>
    <%= image_tag "https://source.unsplash.com/random/1100x500", class: "w-100", crop: :fill, position: :center %>
    <% end %>
    <p><%= @recommendation.category.name %></p>
    <h1><strong><%= @recommendation.name %></strong></h1>

    <ul>
      <li>tag</li>
      <li>tag</li>
      <li>tag</li>
    </ul>

    <h3>ABOUT THIS DATE NIGHT</h3>
    <p><%= @recommendation.description %></p>
    <a href="">See more about the date</a>
    <br>

    <h3>LOCATION</h3>
    <p><%= @recommendation.location %> </p>
    <br>

    <h3>PRICE</h3>
    <p><i class="fas fa-dollar-sign"></i> Mucho</p>
    <br>

    <h3>REVIEWS</h3>
    <p><%= @recommendation.rating %></p>
    <br>

    <%= link_to "Book date", new_recommendation_datenight_path(@recommendation), class: "btn btn-primary" %>
    <br>
    <%= link_to "Back to list", category_recommendations_path(@recommendation.category), class: "btn btn-secondary" %>
    <br>
    <%= link_to "Edit", edit_category_recommendation_path(@recommendation.category, @recommendation), class: "btn btn-secondary" %>
    <br>
    <%= link_to "Delete", category_recommendation_path(@recommendation.category, @recommendation), method: :delete, class: "btn btn-secondary" %>
  </div>
</div>
