<!-- Getting an array of user ids used in logic below -->
<% user_ids = [] %>
<% reviews.each do |review| %>
<% user_ids << review.user_id %>
<% end %>

<!-- Logic to display existing review (if exists) -->
<% if user_ids.include?(current_user.id) %>
<!-- Iterate through reviews to find match -->
  <% datenight.reviews.each do |review| %>
  <% if review.user_id == current_user.id %>
    <div class="show-review">
      <div class="show-review-banner">
        You went on <%= datenight.recommendation.name %> in <%= datenight.time.strftime("%B %Y") %>
      </div>
    <div class="review-element datenight-rating">
      <strong>Your rating:</strong>
      <!-- Iterate through date_ratings to add stars -->
      <% review.date_rating.times do %>
        <i class="fas fa-star rating"></i>
      <% end %>
    </div>
    <div class="review-element content">
      <strong>Your review:</strong> <%= review.content %>
    </div>
  </div>
  <% end %>
<% end %>

<!-- If doesn't exist show "add a review" -->
<% else %>
<a href="../datenights/<%=id%>/reviews/new">
  <div class="add-review">
    <div class="plus-review">+</div>
    <div class="add-review-text">Review '<%= datenight.recommendation.name %>'</div>
  </div>
</a>
<% end %>


