<div id="carousel-<%= recommendation.id %>" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <% recommendation.photos.each_with_index do |photo, n| %>
    <li data-target="#carousel-<%= recommendation.id %>" data-slide-to="n" class="<%= "active" if n == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag recommendation.photos.first.key, class: "d-block card-picture", crop: :fill, position: :center  %>
    </div>
    <% recommendation.photos.drop(1).each do |photo| %>
    <div class="carousel-item">
      <%= cl_image_tag photo.key,  class: "d-block  card-picture", crop: :fill, position: :center  %>
    </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carousel-<%= recommendation.id %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carousel-<%= recommendation.id %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
