<div class="navbar navbar-expand-xl navbar-light navbar-lewagon align-items-stretch">

  <%= link_to "/", class: "navbar-brand" do %>
  <div><%= image_tag "image.png" %></div>
  <!--  <div><p class="sparks-brand">Sparks</p></div> -->
  <% end %>


  <h4 class="navbar-title">sparks</h4>
  <div class="d-flex">
    <div class="dropdown">
      <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user && current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar" %>
        <% else %>
        <%= image_tag "empty_avatar.png", width: 50, height: 50, class: "avatar ml-2 mt-1" %>
        <% end %>
      </div>
      <div class="dropdown-menu dropdown-menu-right nav-dropdown" aria-labelledby="dropdownMenuButton">
        <% if current_user%>
        <%= link_to "My dates", profiles_couple_profile_path, class: "dropdown-item" %>
        <%= link_to "Book my next date", edit_date_info_path, class: "dropdown-item" %>
        <%= link_to "Edit preferences", update_preferences_path, class: "dropdown-item" %>
        <%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        <% else %>
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>



