<div class="navbar navbar-expand-xl navbar-light navbar-lewagon align-items-stretch">

  <%= link_to "/", class: "navbar-brand" do %>
  <div><%= image_tag "image.png" %></div>
  <!--  <div><p class="sparks-brand">Sparks</p></div> -->
  <% end %>


  <h4 class="navbar-title"><strong>Sparks</strong></h4>

  <div class="dropdown">
    <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </div>
    <div class="dropdown-menu dropdown-menu-right nav-dropdown" aria-labelledby="dropdownMenuButton">
      <% if current_user%>
      <%= link_to "My dates", profiles_couple_profile_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
      <% else %>
      <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>



