<div class="container">
  <div class="tagline">
    <h2 class="font-title">Regular, amazing <span class="red">date nights</span> for couples made easy</h2>
  </div>

    <!-- Pick date night - Still need to make it non-checkboxes -->
    <p class="font-form-title">PICK A DATE NIGHT</p>
      <%= simple_form_for @user do |f| %>
      <div class="form-input-checkbox">
        <%= f.input :day,
          as: :radio_buttons,
          input_html: { class: 'displaynone' },
          collection: [
            ['Monday', 'Mon.'],
            ['Tuesday', 'Tues.'],
            ['Wednesday', 'Wed.'],
            ['Thursday', 'Thurs.'],
            ['Friday', 'Fri.'],
            ['Saturday', 'Sat.'],
            ['Sunday', 'Sun.']
          ],
          label_method: :second,
          value_method: :first,
          wrapper_html: { class: 'first-form' }
        %>
      </div>

    <!-- Choose your date night frequency - Still need to make it non-checkboxes -->
    <p class="font-form-title">CHOOSE YOUR DATE NIGHT FREQUENCY</p>
      <div class="form-input-checkbox">
          <%= f.input :date_frequency,
            as: :radio_buttons,
            input_html: { class: 'displaynone' },
            collection: [
              [1, 'Once a week'],
              [2, 'Once every two weeks'],
              [4, 'Once every month']
            ],
            label_method: :second,
            value_method: :first,
            wrapper_html: { class: 'second-form' }
          %>
      </div>

    <!-- Button -->
        <%= f.button :submit, "Get started", class: "main-btn bottom" %>
        <%= hidden_field_tag :next_page, "page 2" %>
      <% end %>
  </div>
