<h1>Regular, amazing date nights for couples made easy.</h1>
<%= simple_form_for current_user do |f| %>
  <%= f.input :day, label: "PICK A DATE NIGHT", collection: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>
  <%= f.input :date_frequency, label: "CHOOSE FREQUENCY", collection: [1, 2, 4] %>
  <%= f.button :submit, "Get started", class: "btn-primary" %>
  <%= hidden_field_tag :next_page, "page 2" %>
<% end %>
