<div class="container">
 <div class="d-flex justify-content-center">
  <!-- Bubble -->
    <div class="bubble d-flex justify-content-center">
      <p>1</p>
    </div>
  <!-- line -->
    <hr class="bubble-line">
  <!-- Bubble -->
    <div class="bubble d-flex justify-content-center incomplete">
      <p>2</p>
    </div>
  <!-- line -->
    <hr class="bubble-line">
  <!-- Bubble incomplete -->
    <div class="bubble d-flex justify-content-center incomplete">
      <p>3</p>
    </div>
  </div>

  <div class="tagline-pref">
    <h2 class="font-title text-center">Pick a date night frequency</h2>
    <h5 class="font-subtitle text-center">Research shows that going out once every two weeks works like a charm to keep the flame alive!</h4>
  </div>

  <%= simple_form_for @user do |f| %>

      <!-- Pick day -->
      <p class="font-form-title text-center">PICK A DATE NIGHT</p>
      <div class="form-input-checkbox">
        <%= f.input :day,
          as: :radio_buttons,
          input_html: { class: 'displaynone' },
          collection: [
            ['Monday', 'Mon.'],
            ['Tuesday', 'Tues.'],
            ['Wednesday', 'Wed.'],
            ['Thursday', 'Thurs.'],
            ['Friday', 'Fri.'],
            ['Saturday', 'Sat.'],
            ['Sunday', 'Sun.']
          ],
          label_method: :second,
          value_method: :first,
          wrapper_html: { class: 'first-form' }
        %>
      </div>
      <!-- Pick day -->

    <!-- Choose your date night frequency -->
    <p class="font-form-title text-center">CHOOSE YOUR DATE NIGHT FREQUENCY</p>
      <div class="form-input-checkbox">
          <%= f.input :date_frequency,
            as: :radio_buttons,
            input_html: { class: 'displaynone' },
            collection: [
              [1, 'Once a week'],
              [2, 'Once every two weeks'],
              [4, 'Once every month']
            ],
            label_method: :second,
            value_method: :first,
            wrapper_html: { class: 'second-form' }
          %>
      </div>
      <!-- Choose your date night frequency -->

    <!-- Button -->
        <%= f.button :submit, "Get started", class: "main-btn bottom" %>
        <%= hidden_field_tag :next_page, "page 2" %>
    <% end %>
  </div>
