<div class="container">
  <div class="d-flex justify-content-center">
    <!-- Bubble -->
    <div class="bubble d-flex justify-content-center">
      <p>1</p>
    </div>
    <!-- line -->
    <hr class="bubble-line">
    <!-- Bubble -->
    <div class="bubble d-flex justify-content-center">
      <p>2</p>
    </div>
    <!-- line -->
    <hr class="bubble-line">
    <!-- Bubble -->
    <div class="bubble d-flex justify-content-center">
      <p>3</p>
    </div>
  </div>
  <div class="tagline-pref">
    <h2 class="font-title text-center">You’re done! Ready to pick your next date night?</h2>
    <h5 class="font-subtitle text-center">Allow us to see your location to make our recommendations better</h5>
    </div>



    <!-- Think we should have a field next date night & preferred time in user profile? -->
    <%= simple_form_for current_user do |f| %>
      <div class="d-flex justify-content-center flex-column">
        <div class="form-input">
          <%= f.input :next_date_night,
          label: "YOUR NEXT DATE NIGHT IS ON #{current_user.next_date_night.strftime("%^B %d")}",
          label_html: { class: 'font-form-title' },
          as: :date,
          html5: true
          %>
        </div>
        <div class="form-input">
          <%= f.input :location,
          label: "LOCATION",
          label_html: { class: 'font-form-title' }
          %>
        </div>
      </div>
      <div class="buttons bottom">
          <%= f.button :submit, "Pick category for your date night!", class: "secondary" %>
        <br>
          <%= f.button :submit, "Surprise us!", class: "main-btn" %>
      </div>
    <% end %>
  </div>
</div>
