<div class="container">
  <div class="tagline-pref">
    <h2 class="font-title text-center">How was your date night? </h1>
    <h4 class="text-center"><strong class="red"><%= @datenight.recommendation.name %></strong></h4>
  </div>
  <%= simple_form_for ([@datenight, @review]) do |f|%>
  <div class="form-input-checkbox">
    <%= f.label "Date night rating" %>
    <%= f.input :date_rating,
      as: :radio_buttons,
      collection: 1..5,
      input_html: { class: 'displaynone' },
      wrapper_html: { class: 'first-form' }
    %>
  </div>
    <%= f.input :content, label: "Review & tips" %>
    <%= f.button :submit, "Add review", class: "main-btn" %>
  <% end %>
</div>
